$goldshadow: yellow;;
$silvershadow: rgba(204,250,242,1);
$bronzeshadow: #B026FF;

//CARD RGB BORDER

.bronzecardrgb::after{

    content: "";
    background: $bronzeshadow;
    box-shadow: 0px 0px 5px 5px $bronzeshadow;
    position: absolute;
    inset: -5px;
    filter: blur(8px);
    border-radius: 16px;
    animation: rgb 6s linear infinite;
    z-index: -1;
    transition: all 0.5s ease-in-out;

}

.silvercardrgb::after{

    content: "";
    transition: all 0.5s ease-in-out;
    position: absolute;
    inset: -5px;
    filter: blur(8px);
    border-radius: 16px;
    background:$silvershadow;

    animation: rgb 6s linear infinite;
    z-index: -1;

}

.goldcardrgb::after{

    content: "";
    position: absolute;
    inset: -5px;
    border-radius: 16px;
    filter: blur(8px);
    transition: all 0.5s ease-in-out;
    animation: rgb 6s linear infinite;
    background:$goldshadow;
    background: linear-gradient(90deg, rgba(172,255,107,1) 0%, rgb(14, 154, 255) 79%);

    z-index: -1;

}

.nftcard:hover{
box-shadow: none!important;
    .goldcardrgb::after{

    box-shadow: inset 150px 0px 30px 1px rgba(172,255,107,1),
    
    inset -150px 0px 0px 5px rgb(14, 154, 255);
    
        

    }

    .silvercardrgb::after{
    box-shadow: 0px 0px 30px 5px $silvershadow;

    }

    .bronzecardrgb::after{
        background: $bronzeshadow;
        box-shadow: 0px 0px 30px 5px $bronzeshadow;

    }

}


// .nftcard__shadowgold{
//     position: absolute;
//     background-color: $goldshadow;
//     z-index: -1;
//     height: 100.5%;
//     width: 102.5%;
//     left: -5px;
//     box-shadow: 0px 0px 30px 5px $goldshadow;
//     border-radius: 10px;
//     transform: scale(0.95);
//     top: 10px;
// }


.nftcard__shadowbronze{
    position: absolute;
    background-color: $bronzeshadow;
    z-index: -1;
    height: 100.5%;
    width: 102.5%;
    left: -5px;
    box-shadow: 0px 0px 30px 5px $bronzeshadow;
    border-radius: 10px;
    transform: scale(0.95);
    top: 10px;
}


.nftcard__shadowsilver{
    position: absolute;
    background-color: $silvershadow;
    z-index: -1;
    height: 100.5%;
    width: 102.5%;
    left: -5px;
    // box-shadow: 0px 0px 30px 5px $silvershadow;
    border-radius: 10px;
    transform: scale(0.95);
    top: 10px;
}

// .nftcard:hover .nftcard__shadowgold{
//     top: 10px;
//     box-shadow: 0px 0px 50px 10px $goldshadow;

// }

.nftcard:hover .nftcard__shadowsilver{
    top: 10px;
    box-shadow: 0px 0px 50px 10px $silvershadow;

}
.nftcard:hover .nftcard__shadowbronze{
    top: 10px;
    box-shadow: 0px 0px 50px 10px $bronzeshadow;

}

.nftcard:hover .fligran{
    z-index: 123131213;
   visibility: visible;

}

.nftcard:hover .fligrangold{
    z-index: 123131213;
   visibility: visible;

}

.nftcard:hover .fligransilver{
    z-index: 123131213;
   visibility: visible;
}


.fligran{
    transition: all 0s ease;
filter: opacity(0);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 123312;
    background-image: url("../assets/bgalternate__right.png");
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
}


.fligrangold{
    transition: all 0s ease;

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 123312;
    background-image: url("../assets/bgalternate__left.png");
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
}

.fligransilver{
    transition: all 0s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 123312;
    background-image: url("../assets/bgalternate__middle.png");
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
}