.mainwrapper{

    height: 100vh;
    position: relative;
    scroll-snap-type: y mandatory;
    overflow: auto;
    position: relative;
  
}

// Sections 
.welcoming__section{
    width: 100%;
    height: 100vh;
    background-color: black;
    // background-color: rgb(9, 14, 14);
    // background-image: url("../../assets/blackbg.png");
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
    align-items: center;
    position: fixed;
    z-index: 9999999;
    top: 0;
    pointer-events: none;

  
}

.first__section{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/normalbg.png");
    background-size: cover;
    scroll-snap-align: start;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.second__section{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/blackbg.png");
    background-size: cover;
    scroll-snap-align: start;
    position: relative;

    background-position: center;
}

.third__section{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/normalbg.png");
    background-size: cover;
    scroll-snap-align: start;
    position: relative;

    background-position: center;
}


.monolith__welcoming{
    width: 80%;
    height: 50%;
    align-items:center;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: space-between;
    &::-webkit-scrollbar {
        width: 12px;
      }
    
      &::-webkit-scrollbar-track {
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #696969;
        border-radius: 9px;
        border: 0px none #ffffff;
      }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-shrink: 0; 
        scroll-snap-align: start;
        height: 100%;
        align-items: center;
       
    }

    &__txt{
        height: 5%;
        width: max-content;
        margin-top: 15px;
    }
    &__img{
        height: 70%;
    }

   
}

.monolith__welcoming2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;

    & img{
        height: 70%;
    }
}
@media(min-width:540px) and (max-width:1250px){
    .monolith__welcoming__item{
        margin: 0 5rem;

    }
    .monolith__welcoming{

        // &__img{
        //     height: 50%;
        // }

        // &__txt{
        //     height: 3.5%;
        // }
    }
}

@media(min-width:200px) and (max-width: 500px){

    .monolith__welcoming__item{

        flex-basis: 100%;
        margin:0;

    }


}


@media(min-width:200px) and (max-width: 500px){

    .monolith__welcoming__item{

        flex-basis: 100%;

    }

}
