.rotating-text{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -2;
    & h1 {
        font-size: 36px;
    font-family: "Calibri"!important;
    width: max-content;
    height: max-content;

    }

}


.rotating-text p{
    display: inline-flex;
    font-family: "Calibri"!important;

    margin: 0;
    vertical-align: top;
}


.rotating-text p .word{
    position: absolute;
    display: flex;
    opacity: 0;

}

.rotating-text p .word .letter{
    transform-origin: center center 25px;
    font-family: "Calibri"!important;

}

.rotating-text p .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
    transform-origin: center;
}

.rotating-text p .word .letter.in{
    transition: 0.8s ease;
}


.rotating-text p .word .letter.behind{
    transform: rotateX(-90deg);
}
.w-1{
    color: #e74c3c;
}


.w-2{
    color: #8e44ad;
}


.w-3{
    color: #3498db;
}


.w-4{
    color: #28cc71;
}


.w-5{
    color: #f1c40f;
}



@media (min-width: 499px) and (max-width: 1024px) {

    .rotating-text{
        display: block;
       
    }

    .filler{
        display: none!important;
    }
}


@media (min-width: 200px) and (max-width: 500px) {

    .filler{
        display: none!important;
    }
    .rotating-text{
        display: block;
        transform: scale(0.7)!important;
        transform-origin: center;
    }

}