.wrapper2{
    display:flex;
}   

.wrapper2 .static-txt2{
    color: white;

    font-size: 60px!important;
    font-weight: 400;
}

.wrapper2 .dynamic-txts2{
    font-family: "Calibri"!important;
    margin-left: -10px;
    line-height:90px;
    height: 88px;
    overflow: hidden;

}

.dynamic-txts2 li{
    color: #e604ee;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 5px;
    animation: slide2 4s steps(2) infinite;
}

@keyframes slide2 {
    100%{
        top: -180px;
    }
}
.dynamic-txts2 li span{
    position: relative;
    top: -0.5rem;
}
.dynamic-txts2 li span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgb(9, 14, 14);
    border-left: 2px solid #e604ee;
    animation: typing2 2s steps(9) infinite;

}

@keyframes typing2 {
    100%{
        left: 100%;
        margin: 0 30px 0 30px;
    }
}


@media (min-width: 722px) and (max-width: 1024px){
    .wrapper2{
    transform: scale(0.7);
    }   

}

@media (min-width: 200px) and (max-width: 721px){
    .wrapper2{
        display: flex;
        align-items: center;
    

        & li{
            font-size: 20px;
        }

        & .static-txt2{
            font-size: 20px!important;
        }

    }
    .dynamic-txts2{

     margin-left:-2rem!important;

    }


    .dynamic-txts2 li span{
        position: relative;
        top: -0.2rem;
    }
    .dynamic-txts2 li span::after{
        content: "";
        position: absolute;
        left: 0rem;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: rgb(9, 14, 14);
        border-left: 2px solid #e604ee;
        animation: typing2 2s steps(9) infinite!important;
    
    }
    @keyframes typing2 {
        100%{
            left: 100%;
            margin: 0 10px 0 10px;
        }
    }
   

}