@import url('https://www.db.onlinewebfonts.com/c/72c75860d89e91a517dfb1e7d308c180?family=Courier+New');
@import url('https:////db.onlinewebfonts.com/c/002b944b211d383987536f1ecf684bca?family=Herculanum');
*{

  margin: 0;
  box-sizing: border-box;
  font-family: "Herculanum";
  font-weight: lighter;
  cursor: default;
  transition: all 0.6s ease-in-out 0s;
  
}
