.menu {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: default;

    &__item {
        text-decoration: none;
        color: inherit;
        font-weight: bolder;

        &:hover {
            color: #FFA154;

        }
    }

    &__lang {
        display: flex !important;
        justify-content: space-evenly;

        & h1 {
            width: max-content !important;
        }
       
        &__active {
            color: #FFA154;
        }
    }
}


.bm {
    width: 1rem;

    &-overlay {
        position: relative !important;
        background: transparent !important;
        height: 100%;
    }

    &-item-list {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 10rem;
        height: 80%!important;
        top: 0rem!important;

    }


    &-menu {
        background: black;
        align-items: flex-start;
        text-align: center;
        font-size: 1.15em;
        padding-top: 2rem;
        position: relative !important;
        width: 100%;
        color: #ffffff !important;
        box-shadow: 0 -20px 20px 5px black;
        overflow: hidden!important;

        &-wrap {

        position: fixed !important;
        top: 0rem;
        right: 0px !important;
        width: 100% !important;
        height: 100% !important;
        }


    }

    &-cross {
        background: #EEE9FF;
        width: 40px !important;
        height: 5px!important;
        right: -15px !important;
        top: 0.9rem;
        display: none;

        &-button {

            display: flex !important;
            bottom: 1000px !important;
            transform: size(5) !important;
            top: 2.5rem !important;
            right: 2.5rem!important;
            width: 40px !important;
            height: 30px !important;

        }

    }


    &-burger {

        &-button {

            display: flex;
            width: 32px;
            height: 32px;
        }

        &-bars {
            display: none;
            background-color: #EEE9FF;
            border-radius: 15px;
            width: 100%;
            height: 5% !important;

        }

    }

}
.brandname{
    position:absolute;
    font-family:'Dublin'
}
.outercontainer{
    color: white!important;
    position: relative;

    & h1 {
        font-size: 38px;
    }

    & a {
        margin-top: 2rem;
        font-size: 65px;
        margin-bottom: 2rem;
        text-decoration: none;
        letter-spacing: 0px!important;
        color: white!important;

        &:hover{
                   
            color: #e604ee!important;

        }

    }

}

.menuheader{
    width: 100%;
    height: 3rem;
    top: 2%!important;
    left: 0;
    display: flex!important;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:8rem ;


    & img{
        height: 30px;
        position: absolute;
        left: 0;
        

    }

   & h3{
    width: max-content;
    height: max-content;
   }
}

.menuitem{
transition: all 0.5s ease-in-out;
width: 90%;
font-family: 'Gidole';
display: flex;
text-align: left;
padding-bottom: 1.2rem;
border-bottom: 1px solid grey;
transition: all 1s ease-in-out;



    &__border{

        transition: all 0.5s ease-in-out;
        width: 0;
        height: 30%;
        border-bottom: 1px solid white;
    }

    &:hover{
        border-bottom: 1px solid black;
        .menuitem__border{
            width: 100%;
        }
    }
}
.menuicon{
    position: relative;
    z-index: 9999999;
}
@media (min-width: 499px) and (max-width: 1024px) {

    .brandname{
        font-size: 15px;
    }
    .outercontainer{

        & a{
            font-size: 35px;
            margin-bottom: 3rem;
        }
    }
    .menuheader{
        & img{
            height: 25px;
        }
    }
    .bm-menu{
        padding: 1.6rem!important;;
    }
    .bm-item-list{
        padding: 0rem 2rem!important;
    }

}
@media (min-width: 200px) and (max-width: 500px) {
    .brandname{
        font-size: 8px!important;
    }
    .menuheader{
        top: -2%;
        margin-bottom: 5rem;
        & img{
            height: 25px;
            margin-left: -1rem;
        }
    }
    .menuitem{
        margin-left: -1rem;

        &__border{
            display: none;
        }

    }
    .bm-menu{
        padding-top: 1.5rem!important;

    }
    .bm-item-list{
        padding-left:  2rem!important;
        padding-right:  2rem!important;
    }

    .menuicon{
        transform: scale(0.7);
        transform-origin: right;
        
    }

    .outercontainer{
        color: white!important;
        position: relative;
    
        & h1 {
            font-size: 24px;
        }
        & h3{
            font-size: 12px;
        }
        & a {
            margin-top: 0rem;
            font-size: 30px;
            margin-bottom: 2rem;
            text-decoration: none;
            letter-spacing: 0px!important;
            color: white!important;
    
            &:hover{
                       
                color: #e604ee!important;
            }
        }
    }
}

@media (min-width: 500px) and (max-width: 1024px) {
    .brandname{
        font-size: 12px!important;
    }
    .menuheader{
        top: 2.5%;
        
        & img{
            height: 40px;
        }
    }
    .bm-menu{
        padding-top: 1.3rem!important;
    }
    .bm-item-list{
        padding-left:  0.5rem!important;
        padding-right:  2rem!important;
    }
    .menuicon{
        transform-origin: right;
        
    }

    .outercontainer{
        color: white!important;
        position: relative;
    
        & h1 {
            font-size: 24px;
        }
        & h3{
            font-size: 12px;
        }
        & a {
            margin-top: 0rem;
            font-size: 30px;
            margin-bottom: 2rem;
            text-decoration: none;
            letter-spacing: 0px!important;
            color: white!important;
    
            &:hover{
                       
                color: #e604ee!important;
            }
        }
    }
}
// @media (min-height: 500px) and (max-height: 1100px){
//     .menuitem{
//         font-size: 20px!important;
//     }
// }

@media (min-width: 200px) and (max-width: 300px) {
    .brandname{
        font-size: 8px!important;
    }
    .menuheader{
        top: -2.5%;
        & img{
            height: 25px;
        }
    }
    .bm-menu{
        padding-top: 1.5rem!important;
    }
    .bm-item-list{
        padding-left:  2rem!important;
        padding-right:  2rem!important;
    }
    .menuicon{
        transform: scale(0.7);
        transform-origin: right;
        
    }

    .menuitem{
        font-size: 20px!important;
    }

    .outercontainer{
        color: white!important;
        position: relative;
    
        & h1 {
            font-size: 24px;
        }
        & h3{
            font-size: 12px;
        }
        & a {
            margin-top: 0rem;
            font-size: 30px;
            margin-bottom: 2rem;
            text-decoration: none;
            letter-spacing: 0px!important;
            color: white!important;
    
            &:hover{
                       
                color: #e604ee!important;
            }
        }
    }
}


@media (min-width: 2561px) and (max-width: 3900px){
    .menuicon{
        transform: scale(2);
        transform-origin: right;
        
    }
    .menuheader{
        top: 4%!important;
        font-size: 40px;
        margin-bottom: 18rem;
        & img{
            height: 80px;
        }

    }
    .menuitem{
        font-size: 100px!important;
        margin-bottom: 12rem!important;

        &__border{
            height: 20%;
        }
    }
}


@media (min-width: 2000px) and (max-width: 2560px){
    .menuicon{
        transform: scale(1.5);
        transform-origin: right;
        
    }
    .menuheader{
        top: 4.2%!important;
        font-size: 30px;
        margin-bottom: 18rem;
        & img{
            height: 60px;
        }
    }
    .menuitem{
        line-height: 85px;
        font-size: 65px!important;
        margin-bottom: 5rem!important;
    }
}



